<nav class="mb-4 navbar navbar-expand-lg navbar-light bg-dark">
    <div class="col-md navbar-brand container">
        <h4 id="nav_titre" class="text-white mr-4 mt-1"><i class="fas fa-heartbeat"></i>LoveNest</h4>
    </div>
    <div class="justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </div>
    <div class="col collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav">
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_register') }}">Inscription</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>