{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">

        {{ form_start(critereForm) }}
        {{ form_widget(critereForm) }}
        <button class="btn-success btn mt-2">Valider

        {{ form_end(critereForm)}}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

