{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {{ form_start(modifForm) }}
        {{ form_widget(modifForm) }}
        <button class="btn-success btn mt-2">Modifier</button>

        {{ form_end(modifForm) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

